#header {
    display: inline-block;
    background-color: black;
    border:  solid black;
    border-radius: 8px;
    width: 100vw;
    height: 15vh;
    text-align: left;
    color: black;
}

#main {
    height: 150vh;
    background-color: black;
    border-radius: 8px;
}

.li {
    float: left
}

.container{
    text-align: center;
    margin-top: 20px;
    margin-left: 300px;
    width: 50vw;
    
}

.user-image {
    border:  solid black;
    border-radius: 4px;
    justify-self: center;
    height: 20rem;
    width: 50;
    margin: auto;
}

#head {
    font-size: 50px;
    font-style: inherit;
    font-weight: bolder;
    color: magenta;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.form-header {
    font-stretch: semi-condensed;
    font-family: fantasy;
    color: white
}

.float-child {
    display: inline-grid;
    width: 30%;
    border: solid white;
    margin-top: 10px;
    margin: 10px;
  border-radius: 30px;
  background-color: white;
 
  
}

.user-details {
    margin: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.add-user-form {
    margin-left: 100px;
    border: thin solid black;
}

#form-checkbox {
    display: inline-flex;
    font-family: fantasy;
    
}

#box-id {
    display: block;
    color: white
}

fieldset {
    width: 250px;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
  }

  .float-container {
      background-color: black;
  }

  .delete-user {
background-color: red;
border-radius: 8px;
width: 150px;
justify-self: center;
color: white;
  }
 
.submit{
background-color: red;
border-radius: 8px;
width: 200px;
justify-self: center;
color: white;
}






